* {
  font-family: "Inter", sans-serif;
  font-family: "Sono", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.mainleft {
  width: 50%;
  /* border: 3px solid green; */
}
.getintouch {
  /* border: 5px solid black; */
  padding: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  height: 700px;
}
.formsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.headingcontact {
  width: 100%;
}
.contactcontent {
  display: flex;
  flex-direction: row;
}
.mainleft img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  margin-left: 3rem;
}
.mainright {
  /* border: 5px solid red; */
  width: 50%;
  /* padding: 20px 40px 30px 60px; */
  position: relative;
}
.handshake {
  width: 200px;
  border: none;
  box-shadow: none;
  position: absolute;
  left: 15rem;
}
h2 {
  color: #bc8cf2;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
body {
  background-color: #1a202c;
  width: 100%;
  height: 230vh;
  color: white;
  overflow-x: hidden;
}
header {
  position: fixed;
  display: flex;
  width: 90%;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: transparent;
  z-index: 1;
}
header.sticky {
  border-bottom: 2px solid #dfdfde;
  background: rgba(0, 0, 0, 0.8);
}
header .navbar a {
  color: white;
  /* margin-left: 1.8rem; */
  margin-right: 30px;
  font-size: 1.2rem;
}
header .fa-solid {
  display: none;
}
nav li {
  display: inline-block;
  padding-right: 15px;
}

/* .navbar a {
  border-bottom: 2px solid white;
} */
header .navbar .navlink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #bc8cf2;
  transition: width 0.3s ease;
}
header .navbar .navlink:hover::after {
  width: 100%;
}

.navbar ul li .fas {
  display: none;
}

.navbar ul li .fa-solid {
  display: none;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #bc8cf2; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
  height: 80px;
}
.home {
  padding: 0rem 5%;
}
.home .maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* flex-basis: 300px; */
}
.home .maincontainer h1 {
  color: white;
  font-size: 4rem;
}
.home .maincontainer h1 span {
  color: #bc8cf2;
}
.btn {
  color: #bc8cf2;
  display: inline-block;
  padding: 15px 10px;
  border: 3px solid #bc8cf2;
  font-size: 1.8rem;
}

img {
  /* width: 100px;
  height: 100px; */
  /* box-shadow: 0px 5px 10px 0px rgba(218, 38, 235, 0.5); */
  box-shadow: 0px 1px 2px 0px rgba(218, 38, 235, 0.5),
    1px 2px 4px 0px rgba(218, 38, 235, 0.5),
    2px 4px 8px 0px rgba(218, 38, 235, 0.5),
    2px 4px 16px 0px rgba(218, 38, 235, 0.5);
  position: relative;
  /* animation-name: mymove;
  animation-duration: 3s; */
}

/* @keyframes mymove {
  from {
    right: -120px;
  }
  to {
    right: 10px;
  }
} */
p {
  padding-bottom: 10px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.home .maincontainer img {
  border-radius: 50px;
  /* height: 800px; */
}
#phone {
  color: #bc8cf2;
}

.contactinfo .item1 .details p {
  color: #bc8cf2;
  font-size: 20px;
}
.contactinfo .item1 .details p span {
  color: #ffff;
}
.contactinfo .item1 {
  margin-bottom: 30px;
}

.box-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  padding: 20px 20px 5px 20px;
}
/* .heading {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.contact {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .box-container {
  display: flex;
  flex-wrap: wrap;
}
.contactinfo {
  /* border: 2px solid blue; */
  padding: 50px;
}
.contactform {
  /* border: 2px solid yellow; */
  width: 700px;
  height: 400px;
  padding: 30px;
}
.box {
  width: 90%;
  margin: 8px 0;
  height: 30px;
  color: #dfdfde;
  background: black;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex-shrink: 1;
}
.contactform textarea {
  height: 5rem;
  resize: none;
}
.box:focus {
  border: 2px solid white;
}

.btnsend {
  color: #bc8cf2;
  display: inline-block;
  padding: 15px 10px;
  border: 3px solid #bc8cf2;
  font-size: 1rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
}
.aboutcontainer {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}
.about .left {
  /* border: 3px solid red; */
  width: 400px;
  height: 500px;
  padding-top: 50px;
  padding-left: 50px;
}
.about .right {
  /* border: 3px solid yellow; */
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 800px;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  /* width: 900px;
  height: 500px; */
  height: 450px;
}
.about .right h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
#logo {
  width: 35px;
  height: 35px;
}

.about .right .aboutinfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#subtitle {
  font-size: 40px;
}

/* #subtitle:after {
  content: "";
  display: block;
  width: 3em;
  max-width: 100%;
  border-bottom: 3px solid white;
  /* margin: 5px auto 0; */
/* margin: 0px;
} */

.aboutinfo .information h3 {
  padding-bottom: 10px;
}
.information {
  /* border: 3px solid yellow; */
  width: 240px;
  height: 180px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.counting {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
  justify-content: space-around;
}
.counting .countbox {
  width: 220px;
  height: 180px;
  border: 3px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
  padding: 3px;
  text-align: center;
}
.countbox {
  font-size: 25px;
}

.left img {
  width: 300px;
  height: 400px;
  border: 10px solid #bc8cf2;
}
.skillcontainer {
  width: 95%;
  height: 300px;
  /* border: 3px solid white; */
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 34px;
}
.heading {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 40px;
}
.skillitem {
  width: 100%;
  height: 280px;
  /* border: 3px solid purple; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.skillitemleft {
  width: 50%;
  height: 220px;
  /* border: 3px solid blue; */
  padding: 10px;
}
.skillitemright {
  width: 50%;
  height: 240px;
  /* border: 3px solid blue; */
  padding: 10px;
}
.skillitem .skillitemleft .progress-bar {
  width: 100%;
  background: #222;
  height: 10px;
  border-radius: 5px;
}
.skillitem .skillitemleft .progressbox:nth-child(1) .progress-bar span {
  display: block;
  width: 85%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}
.skillitem .skillitemleft .progressbox:nth-child(2) .progress-bar span {
  display: block;
  width: 75%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}

.skillitem .skillitemleft .progressbox:nth-child(3) .progress-bar span {
  display: block;
  width: 80%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}
.skillitem .skillitemleft .progressbox {
  margin: 10px;
  margin-bottom: 20px;
}

.skillitem .skillitemright .progress-bar {
  width: 100%;
  background: #222;
  height: 10px;
  border-radius: 5px;
}
.skillitem .skillitemright .progressbox:nth-child(1) .progress-bar span {
  display: block;
  width: 85%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}
.skillitem .skillitemright .progressbox:nth-child(2) .progress-bar span {
  display: block;
  width: 70%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}

.skillitem .skillitemright .progressbox:nth-child(3) .progress-bar span {
  display: block;
  width: 70%;
  background: #bc8cf2;
  border-radius: 5px;
  height: 100%;
}
.skillitem .skillitemright .progressbox {
  margin: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.skillitem .progressbox h2 {
  display: flex;
  justify-content: space-between;
}
.skillitem .progressbox span {
  color: white;
  letter-spacing: 1px;
}
::placeholder {
  color: white;
  opacity: 1;
}
footer {
  background: #bc8cf2;
  width: 100%;
  position: relative;
  height: 100px;
  bottom: 0;
}
.qualification {
  margin-top: 60px;
  padding: 10px;
}

.qualification .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
}

.education,
.experience {
  flex: 1 1 640px;
  /* border: 2px solid red; */
}
.qualificationitem {
  border-left: 3px solid #bc8cf2;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 600px;
  padding: 1px 48px 32px 48px;
  margin-left: 30px;
  top: 0;
}
.qualification .heading {
  display: flex;
  justify-content: center;
}

.qualificationitem i {
  position: absolute;
  top: -2px;
  left: -28px;
  width: 50px;
  height: 50px;
  border: 2px solid #bc8cf2;
  background: #bc8cf2;
  border-radius: 50px;
  text-align: center;
  font-size: 32px;
  line-height: 45px;
  /* left: 20px; */
}

.qualificationitem .content {
  border-radius: 5px;
  padding: 16px 18px;
  border-left: 30px;
}

.qualificationitem span {
  background: #222;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 50px;
}

.qualificationitem h3 {
  font-size: 30px;
  color: white;
  padding: 16px 0;
}

.qualificationitem p {
  color: grey;
  font-size: 20px;
  line-height: 32px;
}

.education .item {
  border-left: 3px solid #bc8cf2;
  height: 240px;
}

.education .item .content {
  height: 200px;
  width: 280px;
  /* border: 3px solid white; */
  position: absolute;
  left: 100px;
  top: 80px;
  padding: 10px;
}
.education .item .content span {
  border: 1px solid #222;
  background: black;
  color: white;
  border-radius: 25px;
  padding: 5px;
}
.education .item .content h3 {
  margin-top: 10px;
  padding: 5px;
}
.education #educationitem1 .content {
  height: 200px;
  width: 40%;
  /* border: 3px solid white; */
  position: absolute;
  left: 100px;
  top: 320px;
  padding: 10px;
}

.education #educationitem2 .content {
  height: 200px;
  width: 280px;
  /* border: 3px solid white; */
  position: absolute;
  left: 100px;
  top: 560px;
  padding: 10px;
}

/*experience*/

.experience .item {
  border-left: 3px solid #bc8cf2;
  height: 240px;
}

.experience .item .content {
  height: 200px;
  width: 280px;
  /* border: 3px solid white; */
  position: absolute;
  left: 100px;
  top: 80px;
  padding: 10px;
}
.experience .item .content span {
  border: 1px solid #222;
  background: #222;
  color: white;
  border-radius: 25px;
  padding: 5px;
}
.experience .item .content h3 {
  margin-top: 10px;
  padding: 5px;
}
.experience #educationitem1 .content {
  height: 200px;
  width: 40%;
  /* border: 3px solid white; */
  position: absolute;
  left: 100px;
  top: 320px;
  padding: 10px;
}

footer {
  background-color: #bc8cf2;
  padding: 15px 0;
  text-align: center;
}

footer .icons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

footer .icons .fab {
  background-color: #222;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

footer .icons .fab:hover {
  color: #222;
  background-color: white;
}

footer .content p {
  font-size: 30px;
  color: white;
}

footer .content p span {
  color: #222;
}

footer .icons .fa-brands {
  background-color: #222;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

footer .icons .fa-brands:hover {
  color: #222;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .header .fa-solid {
    display: block;
    float: right;
    color: white;
  }
  .navbar ul li:not(:nth-child(5)) {
    display: none;
  }

  .navbar ul li .fa-solid {
    display: block;
    float: right;
  }

  .header .navbar {
    background-color: white;
    width: 200px;
    height: 1000px;
    top: 100%;
    position: absolute;
    right: 0;
    color: black;
    z-index: 0;
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }

  .header .navbar ul li {
    color: black;
    display: block;
    margin-left: 1.8rem;
    margin-right: 30px;
    font-size: 1.2rem;
  }
  .header .navbar ul li a {
    color: black;
  }
  .navbar ul li:nth-child(5) {
    display: none;
  }
  .skillcontainer {
    margin-top: 10%;
  }
}
